@font-face {
    font-family: honor;
    src: url(./HONORSansWorld-Regular.woff);
}



body {
    font-family: 'honor', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 130px;
  }
  
  .botao {
    padding: 12px 20px;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }

  .botao2 {
    padding: 12px 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .botao3 {
    padding: 12px 20px;
    border: none;
    color: rgb(0, 177, 255);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  .botao:hover {
    filter: brightness(1.1);
  }
  
  /* Variações de azul */
  
  .azul1 {
    background-color: rgb(0, 177, 255); /* azul claro */
  }
  
  .Preto2 {
    background-color: rgb(0,0,0);   /* azul base */
  }
  

  